name: Publish NuGet Package

permissions:
  packages: write
  contents: write

on:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release --filter "TestCategory!=Integration"

    - name: Set package version
      id: set_version
      run: |
        if [[ "${{ github.event_name }}" == "push" ]]; then
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          echo "PACKAGE_VERSION=0.0.1-$SHORT_SHA" >> $GITHUB_OUTPUT
        else
          TAG_VERSION=${{ github.event.release.tag_name }}
          if [[ $TAG_VERSION == v* ]]; then
            TAG_VERSION=${TAG_VERSION#v}
          fi
          echo "PACKAGE_VERSION=$TAG_VERSION" >> $GITHUB_OUTPUT
        fi

    - name: Pack
      run: dotnet pack --configuration Release --no-build --output ./nupkg /p:Version=${{ steps.set_version.outputs.PACKAGE_VERSION }}

    - name: Upload NuGet packages
      uses: actions/upload-artifact@v4
      with:
        name: nupkgs
        path: ./nupkg/*.nupkg

    - name: Publish to NuGet
      if: github.event_name == 'release'
      run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/victorqhong/index.json

    - name: Upload release artifacts
      if: github.event_name == 'release'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release upload "${{ github.event.release.tag_name }}" ./nupkg/*.nupkg --clobber
